*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.blueBox{
	height: 50vh;
	background-color: lightblue;
}
.pinkBox{
	height: 20vh;
	background-color: pink;
	margin: 50px;
}

.pinkBox > p > span{
	background-color: yellow;
/*	position: relative;
	top: 100px;
	left: 20px;*/
	/*position: absolute;
	top: 20px;
	left: 20px;*/
	position: fixed;
}

.pinkBox > p{
	margin-left: 40px;
}

.redBox{
	height: 50px;
	background-color: red;
	width: 20%;
	position: relative;
	z-index: 1000;
}

.grayBox{
	background-color: gray;
	position: relative;
	bottom: 30px;
	z-index: 1001;
}

.grayBox > p{
	margin-left: 25%;
}

.box1, .box2, .box3{
	height: 100px;
	width: 100px;
	border: 1px solid black;
	position: relative;
}

.box1 {
	background-color: red;
	z-index: 5;
}
.box2 {
	background-color: yellow;
	bottom: 75px;
	left: 25px;
	z-index: 3;
}
.box3 {
	background-color: blue;
	bottom: 150px;
	left: 50px;
	z-index: 4;
}