*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}


.box{	
	border: 1px solid;

}

.box1{
	background-color: lightblue;
}

.box2 {
	width: 200px;
	background-color: salmon;
}

.box3{
	height: 350px;
	background-color: brown;
}
.box4{
	height: 250px;
	width: 150px;
	background-color: yellow;
}
.container{
	display: flex;


}

.box1 > div{
	display: flex;
}


.testimonial{
	height: 250px;
	width: 300px;
	border: 1px solid black;
	border-radius: 10px;
}

.testimonial > p{
	text-align: center;
	margin: 10px;
	justify-content: left;
}

.testimonial img{
	height: 75px;
	width: 75px;
	border-radius: 50%;
	z-index: 10;
	position: relative;
}

.testimonial > div{
	text-align: center;
}
.testimonial h4{
	margin: 10px;
}
.testimonial hr{
	position: relative;
	top: 35px;
}